<div class="container-home">
  <div class="content-grid">
    {{#each quantidade}}
      <div class="opcao">

        <a href="/visualizar/aeronave">Aeronave
          <span>{{qtdeAeronave}}</span></a>
      </div>
      <div class="opcao">
        <a href="/visualizar/aeroporto">Aeroporto
          <span>{{qtdeAeroporto}}</span></a>
      </div>
      <div class="opcao">
        <a href="/visualizar/voo">Voo <span>{{qtdeVoo}}</span></a>
      </div>
      <div class="opcao">
        <a href="/visualizar/fabricante">Fabricante
          <span>{{qtdeFabricante}}</span></a>
      </div>
      <div class="opcao">
        <a href="/visualizar/trecho">Trecho <span>{{qtdeTrecho}}</span></a>
      </div>
    {{/each}}
  </div>

</div>