<div class="container-visualizar">
  <div class="header-visualizar">
    <h1>Aeronaves</h1>
  </div>
  <div class="control-dados">
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Modelo</th>
          <th>Assentos</th>
          <th>Ano de fabricação</th>
          <th>Fabricante</th>
        </tr>
      </thead>
      <tbody>
        {{#each aeronaves}}
          <tr>
            <td>{{this.idaeronave}}</td>
            <td>{{this.modelo}}</td>
            <td>{{this.numassento}}</td>
            <td>{{this.anofabricacao}}</td>
            <td>{{this.fabricante}}</td>
            <td class="button"><button>Editar</button></td>
            <td class="button"><button>Excluir</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
</div>