<div class="container-visualizar">
  <div class="header-visualizar">
    <h1>Aeronaves</h1>
  </div>
  <div class="control-dados">
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Modelo</th>
          <th>Assentos</th>
          <th>Registro</th>
          <th>Status</th>
          <th>Fabricante</th>
          <th>Ano de Fabricação</th>
          <th>Número de assentos</th>
        </tr>
      </thead>
      <tbody>
        {{#each aeronaves}}
          <tr>
            <td>{{this.idAeronave}}</td>
            <td>{{this.modelo}}</td>
            <td>{{this.numassento}}</td>
            <td>{{this.registro}}</td>
            <td>{{this.status}}</td>
            <td>{{this.fabricante}}</td>
            <td>{{this.anoFabricacao}}</td>
            <td>{{this.numassento}}</td>
            <td class="button"><button>Editar</button></td>
            <td class="button"><button>Excluir</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>