<div class="container-visualizar">
  <div class="header-visualizar">
    <h1>Aeroportos</h1>
  </div>
  <div class="control-dados" >
    <table id="example">
      <thead>
        <tr>
          <th>Código</th>
          <th>Aeroporto</th>
          <th>Cidade</th>
          <th>Cidade</th>
          <th>Cidade</th>
        </tr>
      </thead>
      <tbody>
        {{#each aeroportos}}
          <tr>
            <td>{{this.idAeroporto}}</td>
            <td>{{this.nomeAeroporto}}</td>
            <td>{{this.cidade}}</td>
            <td class="button"><button><a
                  href="/editar/aeroporto/{{this.idAeroporto}}"
                >Editar</a></td>
            <td class="button">
              <form
                action="/excluir/aeroporto/{{this.idAeroporto}}"
                method="POST"
              ><button type="submit">Excluir</button></form></td>
          </tr>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
